* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background: #fdfbf9;
  font-family: "Krub", sans-serif;
  width: 100%;
  padding-top: 40px;
}

/* LOGO container */
.logo {
  display: flex;
  justify-content: center;
  padding: 0;
}

/* LOGO image */
.logo img {
  max-width: 300px;
  height: auto;
  display: block;
}

/* LOGIN BOX */
.login-container {
  padding: 0rem;
  border-radius: 8px;
  width: 350px;
  text-align: center;
}

h2 {
  color: rgb(11, 11, 11);
  margin-bottom: 1.5rem;
}

.welcome {
  font-size: 25pt;
  font-weight: 600;
}

.highlight {
  font-size: 18pt;
  font-weight: 300;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  outline: none;
}

button {
  padding: 0.5rem;
  background-color: #057cfb;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
}

/* LINKS */
.forgot-password,
.Sing-up {
  color: white;
  font-size: 0.9rem;
  text-decoration: none;
  margin-top: 0.5rem;
}

.Sing-up {
  margin-top: 1rem;
}

.forgot-password:hover,
.Sing-up:hover {
  text-decoration: underline;
}

.createAccount {
  background-color: #fdfbf9;
}
